
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Four Seasons</title>
	</head>
	<body>
		<h1>Four Seasons</h1>
        <ul>
			<% seasons.forEach(season => { %>
                
                <li>
                    <a href="/seasons/<%=season._id; %>"> <%=season.title; %> </a>
				
				<form action="/seasons/<%= season
                ._id %>?_method=DELETE" method="POST" style = "display: inline; margin-left: 16px;">
					<input type="submit" value="DELETE" />
				</form>
                </li>			
                <li>
                    <a href="/seasons/<%=season
                    ._id; %>" method="DELETE"></a>
                    <%=season.description; %>
                </li>
				<a href="/seasons/<%=season._id %>/edit">Edit</a>
			<% }) %>
		</ul>

<nav>
	<a href="/seasons/new">Add a New Bucket List Item</a>
</nav>
<nav>
<a href="/seasons/new">Summer</a>
</nav>
<nav>	
    <a href="/seasons/new">Fall</a>
</nav>
<nav>
	<a href="/seasons/new">Winter</a>
    
</nav>
<nav>
	<a href="/seasons/new">Spring</a>

</nav>






	</body>
</html>