<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<nav>
			<a href="/seasons">Back to Seasons Index</a>
		</nav>
		
        <h2><%=season.season %></h2>
        <h1><%=season.title %></h1>
        Description: <%= season.description%>
		<br />
        Image: <%= season.img%>
		<br />
        Price: <%= season.price%>
		<br />
        Completed: <%= season.completed%>
		<br />
        <a href="/seasons/<%=season._id %>/edit">Edit Bucket List Item</a> 		<br />


        <form action="/seasons/<%= season
        ._id %>?_method=DELETE" method="POST" style = "display: inline; margin-left: 16px;">
        <input type="submit" value="DELETE" />
        <a href="/seasons/<%=season._id; %>" method="DELETE"> delete item</a>
	
	</body>
</html>