<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Summer Bucket List</title>
	</head>
	<body>
		<nav>
			<a href="/seasons">Back to Seasons Index</a>
		</nav>
		<ul>
			<% for (let i = 0; i < season.length; i++) { %>
				<%= console.log(season[i]._id) %>
		<%	if (season[i].season === "Summer") { %>
			<li>
			<%=season[i].season %>
			</li>
			<li><%=season[i].title %>
			</li>
			<li>
			Description: <%= season[i].description %>
			</li>
			Image: <%= season[i].img %>
			<li>
			Price: <%= season[i].price %>
			</li>
			<li>
			Completed: <%= season[i].completed %>
			</li>
			<li>
				<a href="/seasons/<%= season[i]._id%>"> <%=season.title %> </a>
				<form action="/seasons/<%= season[i]._id%>?_method=DELETE" method="POST">
					<input type="submit" value="DELETE"/></form> 
					<a href="/seasons/<%=season[i]._id %>/edit"> Edit Bucket List Item </a>
				</li>
			<% } %>	
		<% } %> 
		</ul>
      


   

		<a href="/seasons/new">Add a New Bucket List Item</a>

	
	</body>
</html>