<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../showStyle.css">
		<title>Winter Bucket List</title>
	</head>
	<body>
		<div class = "showContainer">
			<header> 
				<h1> FOUR SEASONS BUCKET LIST</h1>
		 	</header>
		 <nav class="nav-bar">
			<ul class ="navBarContainer">
				<li class="navItems"><a class="navLinks" href="/seasons">HOME</a></li>
				<li class="navItems"><a class="navLinks" href="#">ABOUT</a></li>
				<li class="navItems"><a class="navLinks" href="/seasons/new">ADD A BUCKET LIST ITEM</a></li>
				<li id="summerNav"><a class="navLinks" href="/seasons/summer">SUMMER</a></li>
				<li id="fallNav"><a class="navLinks" href="/seasons/fall">FALL</a></li>
				<li id="winterNav"><a class="navLinks" href="/seasons/winter">WINTER</a></li>
				<li id="springNav"><a class="navLinks" href="/seasons/spring">SPRING</a></li>
			</ul>
		 </nav>
			<div class="content1">
				<h2 id = "winterHeader"> WINTER BUCKET LIST ITEMS </h2>
					<ul>
						<%= console.log(season) %>
						<% for (let i = 0; i < season.length; i++) { %>
							<%	if (season[i].season === "Winter") { %>
					<img class = "showImages" src="<%= season[i].img %>" 
						<div class = "bucketProps">
							<li class = "season"> SEASON:
								<%=season[i].season %> 
							</li> <br>
							<li class = "season"> BUCKET LIST ACTIVITY:
								<%=season[i].title %>
							</li> <br>
							<li class = "season"> DESCRIPTION:
								<%= season[i].description %>
							</li> <br>
							<li class = "season">PRICE: 
								<%= season[i].price %>
							</li> <br>
							<li class = "season"> COMPLETED: 
								<%= season[i].completed %>
							</li>
							<div class = "btnContainer">
								<li>
								<a href="/seasons/<%= season[i]._id%>"> <%=season.title %> </a> <br>
								<form action="/seasons/<%= season[i]._id%>?_method=DELETE" method="POST">
									<input class = "deleteBtn" type="submit" value="DELETE"/></form> 
									<button class="editBtn">
									<a class ="editBtn" href="/seasons/<%=season[i]._id %>/edit"> EDIT </a>
									</button>
								</li> 
						</div> <br>
							<% } %>	
						<% } %> 
						</ul>
							</div>
							<footer class="footer"> 
							<%- include('../partials/footer.ejs')%>
							</footer>
							</div>
						</div>
					</body>
				</html>